
<div class="col">
  <h2>Lista de estudiantes</h2>
  <hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Clave</th>
        <th scope="col">Nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="getStudentById(item.studentId)" *ngFor="let item of students">
        <th  scope="row">{{item.studentId}}</th>
        <td>{{item.studentName}}</td>
        <td>
          <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalLong">
              Ver mas...
              </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col">
</div>

<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Link with href
  </a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>