
<div class="col">
  <h2>Lista de estudiantes</h2>
  <hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Clave</th>
        <th scope="col">Nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="getCoursesByStudetn(item.studentId)" *ngFor="let item of students">
        <th  scope="row">{{item.studentId}}</th>
        <td>{{item.studentName}}</td>
        <td>
          <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalLong">
              Ver mas...
              </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col">
</div>

<!-- Courses by student -->
<hr>
<div class="col">
  <h5>Materias:</h5>
  <hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Materia</th>
        <th scope="col">Nota</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of courses">
        <th  scope="row">{{item.courseName}}</th>
        <td>
           <input class="form-control" id="courseQualy" placeholder={{item.courseQualy}}>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col">
  
  <button type="submit" class="btn btn-ligth">Guardar</button>
</div>



<form style="display: none">
  <div class="form-group" >
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>